In [179]:
import pandas as pd
import numpy as np
import time

In [180]:
df = pd.read_csv('new_york_city.csv')

In [181]:
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,5688089,2017-06-11 14:55:05,2017-06-11 15:08:21,795,Suffolk St & Stanton St,W Broadway & Spring St,Subscriber,Male,1998.0
1,4096714,2017-05-11 15:30:11,2017-05-11 15:41:43,692,Lexington Ave & E 63 St,1 Ave & E 78 St,Subscriber,Male,1981.0
2,2173887,2017-03-29 13:26:26,2017-03-29 13:48:31,1325,1 Pl & Clinton St,Henry St & Degraw St,Subscriber,Male,1987.0
3,3945638,2017-05-08 19:47:18,2017-05-08 19:59:01,703,Barrow St & Hudson St,W 20 St & 8 Ave,Subscriber,Female,1986.0
4,6208972,2017-06-21 07:49:16,2017-06-21 07:54:46,329,1 Ave & E 44 St,E 53 St & 3 Ave,Subscriber,Male,1992.0

In [182]:
df['Start Time'] = pd.to_datetime(df['Start Time'])

In [183]:
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,5688089,2017-06-11 14:55:05,2017-06-11 15:08:21,795,Suffolk St & Stanton St,W Broadway & Spring St,Subscriber,Male,1998.0
1,4096714,2017-05-11 15:30:11,2017-05-11 15:41:43,692,Lexington Ave & E 63 St,1 Ave & E 78 St,Subscriber,Male,1981.0
2,2173887,2017-03-29 13:26:26,2017-03-29 13:48:31,1325,1 Pl & Clinton St,Henry St & Degraw St,Subscriber,Male,1987.0
3,3945638,2017-05-08 19:47:18,2017-05-08 19:59:01,703,Barrow St & Hudson St,W 20 St & 8 Ave,Subscriber,Female,1986.0
4,6208972,2017-06-21 07:49:16,2017-06-21 07:54:46,329,1 Ave & E 44 St,E 53 St & 3 Ave,Subscriber,Male,1992.0

In [184]:
df['month'] = df['Start Time'].dt.month_name().apply(lambda x: x.lower())
df['day_of_week'] = df['Start Time'].dt.day_name().apply(lambda x: x.lower())
df['hour'] = df['Start Time'].dt.hour

In [215]:
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week,hour
0,5688089,2017-06-11 14:55:05,2017-06-11 15:08:21,795,Suffolk St & Stanton St,W Broadway & Spring St,Subscriber,Male,1998.0,june,sunday,14
1,4096714,2017-05-11 15:30:11,2017-05-11 15:41:43,692,Lexington Ave & E 63 St,1 Ave & E 78 St,Subscriber,Male,1981.0,may,thursday,15
2,2173887,2017-03-29 13:26:26,2017-03-29 13:48:31,1325,1 Pl & Clinton St,Henry St & Degraw St,Subscriber,Male,1987.0,march,wednesday,13
3,3945638,2017-05-08 19:47:18,2017-05-08 19:59:01,703,Barrow St & Hudson St,W 20 St & 8 Ave,Subscriber,Female,1986.0,may,monday,19
4,6208972,2017-06-21 07:49:16,2017-06-21 07:54:46,329,1 Ave & E 44 St,E 53 St & 3 Ave,Subscriber,Male,1992.0,june,wednesday,7

In [123]:
df['month'].mode()

0    june
dtype: object

In [124]:
df['day_of_week'].mode()

0    wednesday
dtype: object

In [125]:
df['hour'].mode()

0    17
dtype: int64

In [126]:
df['hour'].value_counts()[17]

30041

In [216]:
df['Start Station'][0]

0    Pershing Square North
dtype: object

In [217]:
df['End Station'][1]

'1 Ave & E 78 St'

In [128]:
mean_time = df['Trip Duration'].mean()
print("\nThe average time of travel is : {} minutes".format(round(mean_time/60,1)))

The average time of travel is : 15.0 minutes

In [129]:
total_time = df['Trip Duration'].sum()
print("\nThe total time of travel is : {} hours".format(round(total_time/3600,1)))

The total time of travel is : 74973.7 hours

In [151]:
    # TO DO: Display counts of user types
df['User Type'].value_counts()

Subscriber    269149
Customer       30159
Name: User Type, dtype: int64

In [152]:
    # TO DO: Display counts of gender
df['Gender'].value_counts()

Male      204008
Female     66783
Name: Gender, dtype: int64

In [153]:
    # TO DO: Display earliest, most recent, and most common year of birth
min_year_birth = df['Birth Year'].min()
print(min_year_birth)
max_year_birth = df['Birth Year'].max()
print(max_year_birth)
mode_year_birth = df['Birth Year'].mode()
print(mode_year_birth)

1885.0
2001.0
0    1989.0
dtype: float64

In [133]:
from terminaltables import AsciiTable

In [134]:
table_data = [
['Heading1', 'Heading2'],
['row1 column1', 'row1 column2'],
['row2 column1', 'row2 column2'],
['row3 column1', 'row3 column2'],
]
table = AsciiTable(table_data)
print(table.table)

+--------------+--------------+
| Heading1     | Heading2     |
+--------------+--------------+
| row1 column1 | row1 column2 |
| row2 column1 | row2 column2 |
| row3 column1 | row3 column2 |
+--------------+--------------+

In [177]:
df['User Type'].fillna("Non Value")
user_types = df['User Type'].unique()
user_counts = df['User Type'].value_counts()
user_table = [
    ['Type of User', 'Count', '% of total']
]
row = []
for i in range(0, len(user_types)):
    row.append(user_types[i])
    row.append(user_counts[i])
    row.append("{:.1%}".format(user_counts[i]/user_counts.sum()))
    user_table.append(row)
    row = []
    
user_table = AsciiTable(user_table)
print(user_table.table)

KeyError: 'User Type'

In [156]:
gender_types = df['Gender'].unique()
gender_counts = df['Gender'].value_counts()
gender_table = [
    ['Gender', 'Count', '% of total']
]
row = []
for i in range(0, len(gender_types)-1):
    row.append(gender_types[i])
    row.append(gender_counts[i])
    row.append("{:.1%}".format(gender_counts[i]/gender_counts.sum()))
    gender_table.append(row)
    row = []
    
gender_table = AsciiTable(gender_table)
print(gender_table.table)

+--------+--------+------------+
| Gender | Count  | % of total |
+--------+--------+------------+
| Male   | 204008 | 75.3%      |
| Female | 66783  | 24.7%      |
+--------+--------+------------+

In [87]:
print(df['Gender'].value_counts().sum())

238948

In [94]:
gender_types = df['Gender'].unique()
for i in range(0, len(gender_types)-1):
    print(i)

0
1

In [91]:
df['Gender'].unique()

array(['Male', 'Female', nan], dtype=object)

In [93]:
df['Gender'].count()

238948

In [185]:
df['User Type'].fillna("Non Value")

0         Subscriber
1         Subscriber
2         Subscriber
3         Subscriber
4         Subscriber
             ...
299995    Subscriber
299996    Subscriber
299997    Subscriber
299998    Subscriber
299999    Subscriber
Name: User Type, Length: 300000, dtype: object

In [106]:
if 'Gender' in df.columns:
    print(1)

1

In [108]:
df[5:10]

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week,hour
5,1473887,2017-06-26 09:01:20,2017-06-26 09:11:06,586,Clinton St & Washington Blvd,Canal St & Taylor St,Subscriber,Male,1990.0,june,monday,9
6,961916,2017-05-26 09:41:44,2017-05-26 09:46:25,281,Ashland Ave & Lake St,Wood St & Hubbard St,Subscriber,Female,1983.0,may,friday,9
7,65924,2017-01-21 14:28:38,2017-01-21 14:40:41,723,Larrabee St & Kingsbury St,Larrabee St & Armitage Ave,Customer,NaN,NaN,january,saturday,14
8,606841,2017-04-20 16:08:51,2017-04-20 16:20:20,689,Sedgwick St & Huron St,Halsted St & Blackhawk St (*),Subscriber,Male,1984.0,april,thursday,16
9,135470,2017-02-06 18:00:47,2017-02-06 18:09:00,493,Stetson Ave & South Water St,Clinton St & Washington Blvd,Subscriber,Male,1979.0,february,monday,18

In [109]:
i, f = 0, 5
print(i)
print(f)
i += 5
f += 5
print(i)
print(f)

0
5
5
10

In [113]:
most_common_month = df['month'].mode()
print('The most common month for traveling is: {}\n'.format(most_common_month[0].title()))

The most common month for traveling is: June

In [187]:
df['User Type'].fillna("Non Value").unique()

array(['Subscriber', 'Customer', 'Non Value'], dtype=object)

In [160]:
user_counts

Subscriber    269149
Customer       30159
Name: User Type, dtype: int64

In [169]:
df('User_ypes.dropna(axis=0)

AttributeError: 'numpy.ndarray' object has no attribute 'dropna'

In [202]:
df2 = pd.read_csv('new_york_city.csv')
df2['Start Time'] = pd.to_datetime(df2['Start Time'])
df2['month'] = df2['Start Time'].dt.month_name().apply(lambda x: x.lower())
df2['day_of_week'] = df2['Start Time'].dt.day_name().apply(lambda x: x.lower())
df2['hour'] = df2['Start Time'].dt.hour

In [206]:
df2 = df2[df2['month'] == 'july']

In [207]:
df2 = df2[df2['day_of_week'] == 'monday']

In [212]:
df2.empty

True